.press-content {
	
	padding-bottom: 60px;
	padding-top: 80px;

	@include medium {
		padding-bottom: 100px;
		padding-top: 100px;
	}

	.image {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 218px;
		margin-bottom: 30px;
		background-color: $pale;

		@include medium {
			margin-top: 0;
		}

		img {
			max-width: 72.22%;
			max-height: 211px;
		}

	}

	h3 {
		margin-bottom: 24px;
		font-size: 23px;

		@include medium {
			font-size: 26px;
		}
	}

	.rp {
		display: none;
		margin-bottom: 60px;



		@include medium {
			display: block;
		}


		&.r1 {
			display: block;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.btn {
		width: 281px;
		margin: 0 auto;
		margin-top: 27px;

		@include medium {
			display: none;
		}
	}
}