.testimonial-solution {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: $pale;

	@include medium {
		padding-top: 121px;
		padding-bottom: 121px;
	}

	h2 {

		@include medium {
			text-align: center;
		}
		
	}

	p {
		
		margin-top: 30px;
		font-weight: 600;

		@include medium {
			text-align: center;
		}
	}

	.glide__bullets {
		display: flex;
		justify-content: center;
		margin-top: 30px;

		@include medium {
			margin-top: 22px;
		}

		.glide__bullet {
			box-shadow: none;
			background-color: $gray;
			opacity: 0.5;
			width: 8px;
			height: 8px;
			border-radius: 100%;
			padding: 0;
			margin: 0 7px;
			cursor: pointer;
			outline: none;

			&.glide__bullet--active {
				background-color: $blue;
				opacity: 1;
			}

			&:focus,
			&:hover {
				border-color: transparent;
			}
		}
	}

	.btn {
		max-width: 281px;
		margin: 0 auto;
		margin-top: 30px;

		@include medium {
			max-width: 198px;
		}
	}
}